*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3F4F6;
}

.container{
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
}

h1{
    width:100%;
    text-align:center;
    background-color:#2F5D73;
    color:#FFFFFF;
    padding:15px;
    margin-bottom:30px;
    position:fixed;
    top:0;
    z-index:1000;

    box-shadow:0 10px 25px rgba(38, 77, 95, 0.15);
}

h2{
    color:#0D9488;
    text-align:center;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.controls input,
.controls select,
.controls button{
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;

    margin-top: 100px;
    
}

.controls input,
.controls select{
    background:#FFFFFF;
    border:1px solid #D1D5DB;
    color:#374151;
}

.controls input{
    width: 250px;
}

.controls select{
    width: 180px;
}

.controls button{
    background-color:#0D9488;
    color:white;
    cursor:pointer;
}

.controls button:hover{
    background-color:#0F766E;
}

#productCount{
    text-align:center;
    margin-bottom:30px;
    color:#0D9488;
    font-size:30px;
}


#products{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    justify-items: center;
    padding: 20px;

}


.card{
    width:100%;
    max-width:350px;
    background:#FFFFFF;
    border-radius:12px;
    padding:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    border:1px solid #E5E7EB;
    box-shadow:0 10px 25px rgba(47,93,115,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(47,93,115,.25);
}

.card img{

    width: 160px;
    height: 180px;

    object-fit: contain;

    margin-bottom: 20px;

    transition: .5s;

}

.card img:hover{

    transform: scale(1.1);

}

.card h3{
    color:#1F2937;
    font-size:20px;
    line-height:28px;
    height:84px;
    overflow:hidden;
    margin-bottom:0px;
}

.card p{
    color:#374151;
    margin:5px 0;
    font-size: larger;
}

.price{
    color: #0D9488;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.rating{
    color: rgb(37, 32, 23);
    font-size: 20px;
    /* font-weight: 600; */
}

.star{
    color: rgb(255, 251, 0);
    font-size: larger;
}

.buyButton{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:50px;
    background:#0D9488;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.buyButton:hover{
    background:#2F5D73;
}

.noProducts{
    grid-column:1/-1;
    text-align:center;
    color:#EF4444;
    font-size:28px;
    padding:50px;
}

/* tablet */

@media (max-width:992px){
    .container{
        padding:20px;
    }
    #products{
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    }
}

/* mobile */

@media (max-width:576px){
    h1{
        font-size:30px;
    }
    .controls{
        flex-direction:column;
    }
    .controls input,
    .controls select,
    .controls button{
        width:100%;
    }
    #products{
        grid-template-columns:1fr;
    }
    .card{
        max-width:100%;
    }
}